<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>E-Porfolio</title>
	</head>
	<body>
		<h1>Naomi's E-Portfolio</h1>
		<h2>Lecture 2 Reflections</h2>
		<p>
			In this lecture, we learned about <b>measures of disease frequency</b>, with the main topic being understanding the differences between prevalence and incidence, and the relationship between them. My main question in this lecture was about the relationship between prevalence and incidence rate, which is defined by <b><i>p = ir x d</i></b> (where <i>p</i> = prevalence, <i>ir</i> = incidence rate, <i>d</i> = disease duration and the assumption is that prevalence is low). I wanted to explore how this relationship might change or be nullified for different kinds of disease e.g. whether different durations, or infectious vs. chronic disease.
		</p>
		<p>
			I found multiple references to a landmark paper establishing the intuitive <b><i>p = ir x d</i></b> formula, but subsequent papers suggested that this formula does not work for all cases. 
		</p>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

